<nav class="nav navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid justify-content-md-between">
    <div class="navbar-brand">Entry test</div>
    <ul class="navbar-nav nav">
      <li *ngFor="let link of links" class="nav-item">
        <a
          class="nav-link"
          [routerLink]="link.path"
          [queryParams]="link.param"
          [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{ exact: true }"
          >{{ link.title }}</a
        >
      </li>
    </ul>
  </div>
</nav>
