<nav class="nav navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid justify-content-md-between">
    <div class="navbar-brand">Entry test</div>
    <ul class="navbar-nav nav">
      <li class="nav-item">
        <a
          class="nav-link"
          aria-current="page"
          routerLink="navigator"
          [queryParams]="{ tab: 0 }"
          >Navigator</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Summary page</a>
      </li>
    </ul>
  </div>
</nav>
