<div class="navigator container-fluid text-center p-2 bg-light border">
  <ul class="nav nav-tabs">
    <li *ngFor="let link of navigatorLinks" class="nav-item">
      <a
        class="nav-link"
        [routerLink]="link.path"
        [queryParams]="link.param"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ link.title }}</a
      >
    </li>
  </ul>
  <table class="table table-striped mx-auto border mt-4">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Account</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of visibleTransactions">
        <td>{{ row.name.first }} {{ row.name.last }}</td>
        <td>{{ row.amount | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>
